@import '/src/styles/mixins.scss';

.card-list {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  margin-bottom: 50px;

  @include mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
