@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.wrapper {
  height: 100%;
  & .sidebar {
    background-color: $light-black;
    color: $light-white;

    @include desktop() {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: $sidebar-width;
      height: 100vh;
    }
  }

  & .main {
    position: relative;
    padding-bottom: $footer-height;
    height: 100%;

    @include desktop() {
      padding-left: $sidebar-width;
    }
  }
}
